/* C:\Srikanth\React_JS\01basicreact\src\App.css */
:root {
    --main-color: black;
  }
  
  h1 {
    color: var(--main-color);
  }
  
  button {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  /* C:\Srikanth\React_JS\01basicreact\src\components\components.css */

/* C:\Srikanth\React_JS\01basicreact\src\components\components.css */

.textField {
    border: 2px solid var(--main-color); /* Specify the width and style */
    padding: 8px; /* Optional: Add some padding */
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    margin-top: 2px;
}


  
